html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, img, small, strike, strong, sub,
sup, tt, var, b, u, i,
ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul, li, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: FancyFont;
    src: url("Norse-Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.cover-image {
    height: 100vh;
    width: 45%;
    background-image: url(pingi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#viking {
    width: 120px;
    height: 120px;
}

h1 {
    font-family: FancyFont;
    font-size: 100px;
    color: white;
}

form, .content, .login, main {
    background-color: #f9fafc;
}

.login {
    height: 100%;
}

.create-acc {
    padding: 50px;
}

.content {
    padding: 200px 50px 80px 30px;
    font-size: 26px;
    font-weight: 700;
}

#spaced {
    margin-top: 30px;
}

.form-container {
    background-color: white;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

